﻿@model IEnumerable<System.Security.Claims.Claim>

<dl>
    @if (Model != null)
    {
        foreach (var claim in Model)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    }
    else
    {
        <dt>ERROR</dt>
        <dd>Model is NULL, no claims were returned</dd>
    }
</dl>